xml/xml.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Studio 2021 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="ivr_info">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="variables">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="variable">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="name" type="xs:string" />
                                <xs:element minOccurs="0" name="value" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>